/*............................. CONTACTO ..........................*/
#contactomain {
  height: 100vh;
}

.contactodiv {
  text-align: center;
}

.nav-link{
  background-color: rgb(255, 255, 255);
}

.navbar-collapse{
  background-color: #4d4b4b;
 position: relative;
  z-index: 1000 !important;
  /* opacity: 68%; */
}

.contactoh1 {
  text-align: center;
  font-size: 50px;
  color: #000;
  margin-top: 150px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #000 solid 1px;
  padding: 20px;
  background-color: #fff;
  width: 50%;
}

.comentarios {
  display: flex;
  height: 200px;
  width: 500px;
}

#contactoFooter{
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 50px;
}













                                            /* index */
* {
  margin-top: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* BOTON DE WHATSAPP */
.float-wa {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

/* .box {-
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 0.5s ease, background-color 1s ease;
  }

  .box:hover {
    width: 200px;
    background-color: blue;
  } */
#indexbody {
  margin: 0;
  padding: 0;
  background-color: #afb495;
}

#index__header {
  width: 100%;
  height: 180px;
  background-color: #000;
}

.logoRejal {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index__main {
  height: 100vh;
  background-color: #afb495;
  padding-top: 100px;
}

ul {
  padding-top: 20px;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
}

li a {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: #000;
}

.indexH1 {
  text-align: center;
  font-size: 50px;
  color: #000;
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  color: #000;
}

.iconosRedes {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

a {
  text-decoration: none;
}


/*..........................SERVICIOS  ..............................*/
#serviciosHeader {
  width: 100%;
  height: 100px;
}

#serviciosmain {
  height: 100vh;
}

.serviciosh1 {
  text-align: center;
  font-size: 50px;
  color: #000;
  text-align: center;
}
/* #serviciosFooter {
  display: flex;
  justify-content: flex-end;
  align-items: end;
} */
/* ......................................NOSOTROS............................... */
#nosotrosMain {
  height: 100vh;

  min-height: calc(100vh - 180px);
}

#nosotrosFooter {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 50px;
  
}



/* ------------------------------------------------------------Productos------------------------------------------------------------- */
#productosMain {
  height: 100vh;
}

.carousel-item {
  border: #000 solid 1px;
}

.productosH1 {
  text-align: center;
  font-size: 50px;
  color: #000;
  margin-top: 280px;
}

.grid-container {
  padding-top: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: 1, 0.5;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
 
}




@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.carousel-item {
  max-width: 1fr;
  max-height: 1fr;
  padding: 1fr;
  margin: 1fr;
}

#productosBody {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#productosHeader {
  width: 100%;
  height: 100px;
}

.logoRejal {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productosMain {
  height: 100vh;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
}

li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
