@mixin fondo {
    background-image: linear-gradient(90deg, rgba(7, 7, 10, 1) 26%, rgba(36, 36, 32, 1) 58%, rgba(166, 166, 76, 1) 96%);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
  }