@use "../otros/mixin";
/* ......................................NOSOTROS............................... */

#nosotrosbody {
  margin: 0;
  padding: 0;
  @include mixin.fondo;
}

#nosotrosMain {
  
  height: 100vh;
}

#nosotrosFooter {
  display: flex;
  justify-content: flex-end;
}

.iconosRedes {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 15%;
}
.nosotrosh1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 110px;
}
.nosotrosh4{
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
