/* ......................................NOSOTROS............................... */
#nosotrosMain {
  height: 100vh;
}

#nosotrosFooter {
  display: flex;
  justify-content: flex-end;
}

.nav-link{
  background-color: black;
}