 /*..........................SERVICIOS  ..............................*/
 #serviciosHeader {
  width: 100%;
  height: 100px;
}

#serviciosmain {
  height: 100vh;
}

.serviciosh1 {
  text-align: center;
  font-size: 50px;
  color: #000;
  text-align: center;
}